@font-face {
    font-family: Playfair;
    src: url(../assets/static/PlayfairDisplay-Regular.ttf);
}

:root{
    --cream : #FFDBAA;
    --navy-blue :  #13284B;
    --white : #FFFFFF;
    --green : #96C291;
    font-family: Playfair;
}

* {
    margin: 0;
    padding: 0;
    font-family: Playfair;
    box-sizing: border-box;
    max-width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 10vh;
}

#home {
    max-width: 100%;
    height: 11.8vh; /* Ajustez cette valeur selon vos besoins */
    background-color: var(--cream);
    box-shadow: 0 4px 2px -2px rgba(255, 219, 170, 0.5); /* Ajoute une ombre en bas */
}

    #logo img {
    height: 11.5vh; /* Le logo prendra toute la hauteur disponible */
    width: auto;
    }
        .titre h1, .titre h4 {
            margin: 0;
            text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        }

        .rechercher {
    position: relative;
    float: right;
}

.rechercher input {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 15px;
    padding: 0 30px 0 45px; /* Augmentez le padding à gauche pour faire de la place pour l'icône */
    background-color: #f4f4f4;
}

.rechercher button {
    position: absolute;
    left: 10px; /* Positionnez le bouton à gauche */
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
}


.rechercher i {
    color: #000;
}

.container .row .meal-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px; /* Ajustez cette valeur selon vos besoins */
}

.container .row .col-1 .logo {
    height: 10px; /* Ajustez cette valeur selon vos besoins */
    margin-left: 5px;
}
.container .row .col-1 {
    display: flex;
    justify-content: center;
    align-items: center; /* Centre les éléments verticalement */
    height: 30px; /* Ajustez cette valeur selon vos besoins */
}

.container .row button {
    transition: background-color 0.5s ease; /* Ajoute une transition à la propriété background-color */
}
.container .row button:hover {
    background-color: #5c5858;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; /* Ajustez cette valeur selon vos besoins */
}
.row.align-items-center {
    width: 100%;
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
}
.row .col img {
    margin-top: calc(100vh - 62vh - 325px); /* Ajustez cette valeur selon vos besoins */
    height: 60vh; /* Ajustez cette valeur selon vos besoins */
    width: auto;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-arrow {
    left: 400px; /* Ajustez cette valeur selon vos besoins */
}
.right-arrow {
    right: 400px; /* Ajustez cette valeur selon vos besoins */
}
.left-arrow, .right-arrow {
    font-size: 2em; /* Ajustez cette valeur selon vos besoins */
}
.left-content, .right-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.left-content {
    left: 100px; /* Ajustez cette valeur selon vos besoins */
}

.right-content {
    right: 100px; /* Ajustez cette valeur selon vos besoins */
}
ul {
    list-style-type: none; /* Supprime les puces */
}

ul li:before {
    content: "- "; /* Ajoute un tiret avant chaque élément de la liste */
}
.flag {
    height: 11.5vh;
    width: auto;
}
.container-fluid.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.row.no-padding {
    margin-left: 0;
    margin-right: 0;
}
/* Définir la transition pour l'icône de la loupe */
#search-icon {
    transition: transform 0.8s;
    transform-origin: center center; /* Change le point de pivot de la rotation */
}
/* Définir l'animation lors du survol */
#search-button:hover #search-icon {
    transform: rotate(90deg);
}
.container .row .meal-link a {
    display: block;
    padding: 20px;
    color: #ff0000;
    text-decoration: none;
    position: relative;
}
.container .row .meal-link a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 18px;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}
.container .row .meal-link a:hover::before {
    visibility: visible;
    width: 100%;
}
#active {
    color: var(--green); /* Change la couleur du lien actif en rouge */
}
.lien{
    color: var(--navy-blue);
    text-decoration: none;
    width: 50%;
    vertical-align: middle;
}
footer {
    background-color: #ffe7c6;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 4px 4px #d9b8a0;; /* Ajoute une ombre en haut */
}
footer p {
    color: #fff;
    font-size: 1.2em;
    text-align: center;
}
.lien img {
    height: 5vh;
    width: auto;
}